<%= form_with model: @address, data: { controller: :addresses, 
                                       action: 'google-maps-callback@window->addresses#initMap',
                                       addresses_latitude: @address.latitude,
                                       addresses_longtitude: @address.longtitude } do |form| %>

   <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/2">
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-2/12">
          <%= form.label :name, "Name", class: 'block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4' %>
        </div>
        <div class="md:w-10/12">
          <%= form.text_field :name, class: 'appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800' %>
        </div>
      </div>

      <div class="md:flex md:items-center mb-6">
        <div class="md:w-2/12">
          <%= form.label :address, "Address", class: 'block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4'  %>
        </div>
        <div class="md:w-10/12">
          <%= form.search_field :address, size: "60x10", class: 'appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800', data: { target: 'addresses.field', action: 'keydown->addresses#keydown'} %>
        </div>
      </div>

      <div class="md:flex md:items-center mb-6">
        <div class="md:w-2/12">
          <%= form.label :latitude, "Latitude", class: 'block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4'  %>
        </div>
        <div class="md:w-10/12">
          <%= form.text_field :latitude, class: 'appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800', data: { target: 'addresses.latitude'} %>
        </div>
      </div>

      <div class="md:flex md:items-center mb-6">
        <div class="md:w-2/12">
          <%= form.label :longtitude, "Longtitude", class: 'block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4'  %>
        </div>
        <div class="md:w-10/12">
          <%= form.text_field :longtitude, class: 'appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800', data: { target: 'addresses.longtitude'} %>
        </div>
      </div>

      <div class="md:flex md:items-center mb-6">
        <div class="md:w-2/12">
          <%= form.label :description, "Description", class: 'block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4'  %>
        </div>
        <div class="md:w-10/12">
          <%= form.text_area :description, size: "60x10", class: 'appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800' %>
        </div>
      </div>

    </div>
    <div class="md:w-1/2 pl-5">
      <%= content_tag :div, nil, data: { addresses_target: 'map' }, id: 'address_map', class: 'flex' %>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
<% end %>